*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("desktop.png");
    background-color: salmon;
}
span{
    color: red;
    font-size: small;
}
small{
    color: lightblue;
    margin: 10px;
    text-align: center;
    font-size: 14px;
}
a{
    text-decoration: none;
    color: white;
}
header{
    color:white;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: navy;
    box-shadow: 1px 3px 5px #888888;
    height: 35px;
    text-align: center;
    margin: 10px;
    padding: 5px;
}
button{
    color: white;
    background-color: green;
    box-sizing: border-box;
    border: 0;
    border-radius: 5px;
    height: 35px;
    width: 25em ;
    text-align: center;
    font-weight: bold;
    margin: 10px;
}
.container{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 5ovh;
}
.text{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
    color: white;
}
h2{
    font-size: 40px;
    font-weight: bold;
}
.text p{
    font-size: 16px;
}
.login{
    margin: 10px;
    padding: 5px;
    align-items: center;
}
form{
    background-color: honeydew;
    border-radius: 5px;
    box-shadow: 1px 3px 10px #888888;
    padding: 10px;
    margin: 10px;
}
input{
    margin: 5px;
    height: 25px;
    width: 25em;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid lightblue;
}